/* h1 {
  font-family: 'Bebas Neue';
  letter-spacing: 15px;
  margin: 0;
  color: #fff;
  font-size: 15vw;
  text-transform: uppercase;
}

span {
  display: flex;
}

.init {
  width: 95vw;
  background-color: rgb(253, 173, 187);
  background-image: url('../holiday-swim.png');
  background-position: center 13vh;
  background-size: 80% auto;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .init {
    background-position: center 15vh;
    background-image: url('../holiday-swim-mobile.png');
    background-size: 70% auto;
  }
}

@media only screen and (max-width: 567px) {
  .init {
    background-position: center 20vh;
    background-size: 80% auto;
  }
} */
