body.end {
  background-color: #fff;
}

@media only screen and (max-width: 620px) {
  body.end {
    line-height: 20px;
  }
}

h2 {
  font-family: 'Bebas Neue';
  line-height: 12vw;
  letter-spacing: 8px;
  margin: 0;
  color: rgb(250, 85, 108);
  font-size: 13vw;
  text-transform: uppercase;
}

.final .left {
  text-align: center;
  padding-left: 5vw;
  width: 40vw;
}

.final .left img {
  /* opacity: 0; */
  /* transition: 1s ease-in-out all; */
  /* transition: opacity 2s; */
  width: 70%;
}

/* .final .left img.loaded {
  opacity: 1;
} */

.final {
  padding: 5px 20px;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

@media only screen and (max-width: 992px) {
  .final .left {
    width: 35vw;
    padding-left: 0;
  }

  .final .right p,
  a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 620px) {
  h2 {
    line-height: 13vw;
    letter-spacing: 8px;
    font-size: 14vw;
  }

  .final .right p {
    font-size: 20px;
  }

  a {
    font-size: 16px;
  }

  .final,
  .final .left {
    flex-wrap: wrap;
    text-align: center;
  }

  .final .left img {
    width: 70%;
    padding: 25px 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .final .left img {
    width: 90%;
    padding: 25px 0 0;
  }
}

.eye {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 70px;
}

@media only screen and (max-width: 767px) {
  .eye {
    width: 50px;
    bottom: 0;
    right: 5px;
  }
}
