/* .init img {
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .init img {
    width: 85%;
    margin-top: 10vh;
  }
}

p {
  color: rgb(252, 98, 124);
}

.instr {
  margin-top: 80px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  margin-top: 15vh;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  article {
    margin-top: 10vh;
  }
} */
